<body>

<table>

 
 <header>ヘッダー</header>
 


<tr>
    <td>ナビゲーション</td>
    <nav></nav>
</tr>

<tr>
    <td>タイトル</td>
    <div id=title></div>
</tr>

<tr>
    <td>コンテンツ</td>
    <div id=content></div>
</tr>
    


<tr>
    <td>フッター</td>
    <footer></footer>
</tr>

</table>

</body>
